body {
	font-size: 3.750em;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	body {
		font-size: 2.500em;
	}
}

/* 720p ish */
@media only screen
and (max-width : 1300px) {
     body {
          font-size: 2.813em;
     }
}

.intro-strap {
	display: inline-block;
	text-align: left;
}
h1 {
	display: inline-block;
	margin: 0;
	font-size: 100%;
	line-height: 0.8;
	border-bottom: 3px solid;
}
p {
	margin: 0;
}
#total {
	display: block;
	font-size: 570%;
	line-height: 1.2;
	font-weight: bold;
	color: #2b8cc4;
}
.subs {
	margin-top: -25px;
	color: #2b8cc4;
}
small {
	font-size: 100%;
	margin-right: 46px;
}