body {
	font-size: 3.750em;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	body {
		font-size: 2.500em;
	}
}

.users {
	display: inline-block;
	text-align: left;
}
.intro-strap {
	display: block;
}
.intro-strap .govuk {
	font-size: 95%;
}
.intro-strap .govuk .dot {
	position: relative;
	margin-left: -0.09em;
}
#userCount {
	font-size: 800%;
	line-height: 1;
	color: #006C56;
}
.satisfaction {
	margin-top: -50px;
}
#satisfactionPie {
	display: inline-block;
	position: relative;
	top: 10px;
	margin-right: 16px;
}