body {
	color: #0B0C0C;
	background: #fff;
}
.users {
	margin: 0 auto;
	font-size: 48px;
}
.intro-strap {
	bottom: 36px;
	display: inline-block;
	font-size: 100%;
	margin-right: 30px;
	position: relative;
	text-align: right;
}
.intro-strap .govuk {
	font-size: 95%;
}
.intro-strap .govuk .dot {
	position: relative;
	margin-left: -0.09em;
}
#userCount {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	font-size: 700%;
	line-height: 1;
	font-weight: 700;
	color: #006C56;
}

.car-icon {
	display: inline-block;
	position: relative;
	top: 20px;
	margin-left: 60px;
	width: 200px;
}

.satisfaction {
	color: #6F777B;
}
.intro-satisfaction {
	display: block;
	font-size: 28px;
	margin: 10px 0;
}
#satisfactionLevel {
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
}