body {
	font-size: 3.750em;
}

.intro-strap {
	display: inline-block;
	text-align: left;
}
h1 {
	display: inline-block;
	margin: 0;
	font-size: 100%;
	line-height: 0.8;
	border-bottom: 3px solid;
}
p {
	margin: 0;
}
#latest {
	display: block;
	font-size: 570%;
	line-height: 1.2;
	color: #d53880;
}
#historic {
	color: #d53880;
}