.intro-strap {
	display: table;
	width: 100%;
	height: 100%;
}

.phone,
.tablet,
.desktop,
.text {
	display: table-cell;
	width: 25%;
	vertical-align: bottom;
	font-weight: bold;
	padding: 0 3% 16.5% 3%;
}

.phone {
	background: #F8F8F8;
}
.tablet {
	background: #DEE0E2;
}
.desktop {
	background: #BFC1C3;
}
.text {
	font-size: 28px;
	font-weight: normal;
	text-align: left;
	line-height: 1.1;
	color: #F8F8F8;
	background: #0B0C0C;
}
.text > div {
	position: relative;
	top: -23px;
}

span {
	display: block;
	margin-top: 8%;
	font-size: 72px;
}

#phone {
	width: 25%;
}
#tablet {
	width: 45%;
}
#desktop {
	width: 100%;
}