body {
	font-size: 4.500em;
	background: #96c6e2;
}

.area {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.text {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	padding: 3%;
	font-size: 140%;
	text-align: left;
}

.phone,
.tablet,
.desktop {
	/*display: table-cell;
	vertical-align: bottom;*/
	/*position: relative;
	float: left;
	height: 100%;*/
	position: absolute;
	top: 0;
	bottom: 0;
}
.tablet {
	left: 0;
	width: 11%;
	/*width: 33.3%;*/
	background: #d5e8f3;
}
.phone {
	left: 11%;
	width: 20%;
	/*width: 33.3%;*/
}
.desktop {
	left: 31%;
	width: 69%;
	/*width: 33.3%;*/
	background: #2b8cc4;
}

.phone > div,
.tablet > div,
.desktop > div {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10%;
	padding: 20px;
}

#phone,
#tablet,
#desktop {
	max-width: 100%;
}
span {
	display: block;
	margin-top: 20px;
}


/* 720p ish */
@media only screen
and (max-width : 1300px) {
     body {
          font-size: 3.250em;
     }
     #desktop {
     	max-width: 55%;
     }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	body {
		font-size: 1em;
	}
	
	.wrapper {
		display: block;
		width: 1024px;
		height: 768px;
	}
	
	.text {
		font-size: 370%;
	}
	span {
		font-size: 220%;
	}
}