body {
	font-size: 7.813em;
}

/* iPad ish */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	body {
		font-size: 4.375em;
	}
}

/* 720p ish */
@media only screen
and (min-width : 1025px)
and (max-width : 1300px) {
     body {
          font-size: 5.625em;
     }
}

.intro-strap {
	display: inline-block;
	padding: 0 10%;
	line-height: 1.1;
	text-align: left;
}

h1 {
	font-size: 100%;
}

span {
	color: #2b8cc4;
}