body {
	font-size: 4.500em;
}

.area {
	display: table;
	width: 100%;
	height: 100%;
}

.text {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	padding: 3%;
	font-size: 140%;
	text-align: left;
}

.phone,
.tablet,
.desktop {
	/*display: table-cell;
	vertical-align: bottom;*/
	position: relative;
	float: left;
	height: 100%;
	padding: 0 0 3% 0;
}
.tablet {
	width: 11%;
	/*width: 33.3%;*/
	background: #d5e8f3;
}
.phone {
	width: 20%;
	/*width: 33.3%;*/
	background: #96c6e2;
}
.desktop {
	width: 69%;
	/*width: 33.3%;*/
	background: #2b8cc4;
}

.phone > div,
.tablet > div,
.desktop > div {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10%;
	padding: 20px;
}

#phone,
#tablet,
#desktop {
	max-width: 100%;
}
span {
	display: block;
	margin-top: 20px;
}


@media only screen 
and (max-width : 1024px) {
	body {
		font-size: 1em;
	}
	/*.area {
		width: 1024px;
		height: 768px;
	}
	.phone,
	.tablet,
	.desktop {
		height: 768px;
	}*/
}